._raphael_paint
{
  /** some styles **/
}
._raphael_paint_canvas
{
  background: #fff;
  float: right;
}

._raphael_paint_toolbar
{
  float: left;
  background: red;
  width: 100px;
}

._raphael_paint_pen_tool
{
  cursor: url("../cursors/pen.cur"), default;
}